.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-family: $OpenSans;
    font-weight: $fw400;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.5;
    color: $global;
    display: flex;
    flex-direction: column;
    // @include max($lg) {
        // line-height: 1.5;
        // font-size: 16px;
    // }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 30px;
        font-weight: $fw700;
        color: $darkGrey;
        @include lineClamp;
        -webkit-line-clamp: 1;
        text-align: center;
        margin-bottom: 45px;
}
.text {
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
    color: $darkGrey;
    margin-bottom: 60px;
    p {
        @include lineClamp;
        -webkit-line-clamp: 2;
    }
}

.link {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    color: $gold;
    font-weight: $fw700;
    padding: 13px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: transparent;
    transition: color 0.3s ease, border-color 0.3s ease;
    &:hover {
        color: #fff;
    }
    &:hover .icon{
        fill: #fff;
    }
    &:focus {
        background-color: $gold;
        color: $global;
        border-color: $gold;
    }
    &:focus .icon{
        fill: $global;
    }
    &:active {
        color: rgba(#fff, 0.7);
        border-color: rgba(#fff, 0.7);

    }
    &:active .icon{
        fill: rgba(#fff, 0.7);
    }
    & .icon {
        fill: $gold;
        width: 15px;
        height: 16px;
        margin-right: 7px;
        transition: fill 0.3s ease;
    }
}

.logo {
    outline: transparent;
}