
$global: #616161;
$darkGrey: #333333;
$fff01: #fafafa;
$gold: #ffc001;

$OpenSans: 'OpenSans', sans-serif;
$fw700: 700;
$fw600: 600;
$fw400: 400;
$fw300: 300;

$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;