<section class="packages" id="tours">
    <div class="container">
        <span class="packages__subtitle wow animate__fadeInLeft" data-wow-offset="20" data-wow-duration="1s">Popular Tour Packages</span>
        <h2 class="packages__title wow animate__fadeInLeft" data-wow-duration="1.5s" data-wow-offset="20">Populer place</h2>
        <ul class="place-slider">
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-1.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-3.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-2.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-1.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-2.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <section class="packages-destinations" id="package" style="background-image: url(images/packages-destinations-bg.png);">
        <div class="container">
            <h2 class="title wow animate__backInUp" data-wow-duration="1s" data-wow-offset="20" >
                Most Popular Travel Destinations
            </h2>
            <div class="text wow animate__backInUp" data-wow-duration="1s" data-wow-offset="20" >
                <p>
                    Love travel? Plan and book your perfect trip with expert advice, travel tips, destination information and inspiration from Lonely Planet
                </p>
            </div>
        </div>
        <ul class="packages-destinations__slider">
            <li class="packages-destinations__items" style="background-image: url(images/packages-destinations__slider.jpg);">
                <div class="packages-destinations__content">
                    <span class="packages-destinations__name">Grand Switzerland</span>
                    <ul class="packages-destinations__list">
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#eye"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#comment"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link packages-destinations__link--border" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#video"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="packages-destinations__items" style="background-image: url(images/packages-destinations__slider.jpg);">
                <div class="packages-destinations__content">
                    <span class="packages-destinations__name">Grand Switzerland</span>
                    <ul class="packages-destinations__list">
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#eye"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#comment"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link packages-destinations__link--border" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#video"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="packages-destinations__items" style="background-image: url(images/packages-destinations__slider.jpg);">
                <div class="packages-destinations__content">
                    <span class="packages-destinations__name">Grand Switzerland</span>
                    <ul class="packages-destinations__list">
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#eye"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#comment"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                        <li class="packages-destinations__item">
                            <a class="packages-destinations__link packages-destinations__link--border" href="#">
                                <svg class="packages-destinations__icon">
                                    <use xlink:href="images/sprite.svg#video"></use>
                                </svg>
                                <span class="visually-hidden">
                                    by clicking on the icon, you can view the tour details
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </section>
</section>
