.best-packages {
    min-height: 700px;
    @include bg;
    margin-bottom: 100px;
    @include max($xl) {
        min-height: 500px;
        margin-bottom: 50px;
    }
    @include max($lg) {
        min-height: 400px;
        margin-bottom: 30px;
    }
    @include max($md) {
        min-height: 550px;
    }
    &__inner {
        min-height: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: auto;
        @include max($xl) {
            min-height: 500px;
        }
        @include max($lg) {
            min-height: 400px;
        }
        @include max($md) {
            flex-direction: column;
            min-height: 550px;
            align-items: center;
            justify-content: center;
        }

    }
    &__content {
        max-width: 440px;
        width: 100%;
        @include max($xl) {
            margin-right: 10px;
        }
        @include max($md) {
            margin-right: 0;
            margin-bottom: 15px;
            max-width: 100%;
        }
    }
    &__number {
        font-size: 40px;
        font-weight: $fw700;
        color: $darkGrey;
        position: relative;
        &::after {
            content: '%';
            position: absolute;
            top: 8px;
            right: -20px;
            font-size: 16px;
        }
    }
    &__subtitle {
        text-transform: uppercase;
        color: $gold;
        font-weight: $fw700;
    }
    &__title {
        font-size: 38px;
        margin-bottom: 35px;
        font-weight: $fw700;
        color: $darkGrey;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($lg) {
            font-size: 25px;
            margin-bottom: 7px;
        }
        @include max($s) {
            font-size: 20px;
        }
    }
    &__text {
        font-size: 15px;
        margin-bottom: 35px;
        color: $global;
        p {
            @include lineClamp;
            -webkit-line-clamp: 3;
            @include max($lg) {
                -webkit-line-clamp: 4;
            }
        }
        @include max($lg) {
            margin-bottom: 10px;
        }
    }
    &__link {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
        font-weight: $fw700;
        border-radius: 3px;
        background-color: $gold;
        padding: 10px 20px;
        outline: transparent;
        transition: color 0.3s ease, background-color 0.3s ease;
        &:hover {
            background-color: $global;
            color: $gold;
        }
        &:focus {
            color: $global;
            background-color: $gold;
        }
        &:active {
            background-color: $darkGrey;;
            color: #fff;
        }
    }
    &__images {
        @include bg;
        min-height: 400px;
        max-width: 600px;
        width: 100%;
        @include max($xl) {
            min-height: 290px;
            max-width: 453px;
        }
        @include max($lg) {
            min-height: 221px;
            max-width: 314px;
        }
        @include max($md) {
            min-height: 229px;
            max-width: 90%;
        }
        @include max($sm) {
            max-width: 100%;
        }


    }
}
