.header {
    position: absolute;
    top: 0;
    width: 100%;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        // background-color: #ccc;
    }
    &__link-map {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 55px;
        outline: transparent;
        &:hover .header__icon {
            fill: rgba(#fff, 0.7);
        }
        &:hover .header__text {
            color: rgba(#fff, 0.7);
        }
        &:focus .header__icon {
            fill: $gold;
        }
        &:active .header__icon {
            fill: $global;
        }
        &:focus .header__text {
            color: $gold;
        }
        &:active .header__text {
            color: $global;
        }
    }
    &__icon {
        width: 11px;
        height: 15px;
        fill: #fff;
        margin-right: 15px;
        transition: fill 0.3s ease-in;
    }
    &__text {
        transition: color 0.3s ease-in;
        font-size: 12px;
        color: #fff;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__register {
        display: flex;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        font-weight: $fw600;
    }
    &__item {
        padding: 4px 0;
        &:not(:last-child) {
            padding-right: 13px;
            border-right: 1px solid $gold;
            margin-right: 12px;
        }
    }
    &__link {
        outline: transparent;
        transition: color 0.3s ease-in;
        &:hover {
            color: rgba(#fff, 0.7);
        }
        &:focus {
            color: $gold;
        }
        &:active {
            color: $global;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        // background-color: #ccc;
    }
    &__logo {
        outline: transparent;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__link {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        transition: color 0.3s ease-in;
        &:hover {
            color: $gold;
        }
        &:focus {
            color: $global;
        }
        &:active {
            color: rgba(#fff, 0.7);
        }

    }
}