.home-page {
    height: 100vh;
    background-color: #000;
    @include bg;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
    }
    &__phone {
        font-weight: $fw700;
        font-size: 20px;
        margin-bottom: 16px;
        color: $gold;
        outline: transparent;
        transition: color 0.3s ease;
        &:hover {
            color: #fff;
        }
        &:focus {
            color: rgb(211, 47, 47);
        }
        &:active {
            color: rgba(#fff, 0.7);
        }
        @include max($md) {
            font-size: 16px;
            margin-top: 30px;
            margin-bottom: 6px;
        }
    }
    &__title {
        font-weight: $fw700;
        font-size: 48px;
        color: #fff;
        margin-bottom: 20px;
        @include max($lg) {
            font-size: 34px;
            margin-bottom: 5px;
            line-height: 1;
        }
        @include max($md) {
            font-size: 25px;
        }
        @include max($s) {
            font-size: 21px;
        }
    }
    &__text {
        margin-bottom: 25px;
        color: #fff;
        max-width: 645px;
        p {
            @include lineClamp;
            -webkit-line-clamp: 2;
        }
        @include max($md) {
            margin-bottom: 10px;
        }
    }
}
