.packages {
    padding-top: 60px;
    &__subtitle {
        margin-bottom: 18px;
        font-size: 14px;
        color: $gold;
        font-weight: $fw600;
        text-transform: uppercase;
        display: block;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__title {
        text-transform: uppercase;
        color: $darkGrey;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 70px;
        @include lineClamp;
        -webkit-line-clamp: 1;
        @include max($lg) {
            margin-bottom: 25px;
        }
        @include max($md) {
            font-size: 23px;
        }
    }
}

.place-slider {
    display: flex !important;
    max-width: 1130px;
    width: 100%;
    margin: 0 auto 100px;
    height: 460px;
    &__item {
        position: relative;
        max-width: 370px;
        height: 370px;
        width: 100%;
        transition: transform 0.3s ease-in;
        &:hover .place-slider__info{
            background-color: rgba($gold, 0.6);
            padding-top: 40px;
        }
        &:hover .place-slider__price{
            opacity: 1;
        }
        &:hover .place-slider__link {
            opacity: 1;
            visibility: visible;
        }
        @include max($lg) {
            max-width: 330px;
            height: 330px;
        }
        @include max($md) {
            max-width: 370px;
            height: 370px;
        }
        @include max($s) {
            max-width: 270px;
            height: 270px;
        }
    }
    &__images {
        object-fit: cover;
    }
    &__info {
        position: absolute;
        padding-top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        background-color: rgba(#fff, 0.6);
        font-weight: $fw600;
        color: $darkGrey;
        transition: background-color 0.3s ease-in, padding-top 0.3s ease-in;
    }
    &__price {
        display: block;
        transition: opacity 0.3s ease-in;
        opacity: 0;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__place {
        @include lineClamp;
        -webkit-line-clamp: 1;
        font-size: 20px;
        display: block;
        padding: 20px 0;
        @include max($s) {
            padding: 10px 0;
        }
    }
    &__link {
        display: inline-block;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: flex;
        margin: 0 auto -28px;
        background-color: $gold;
        transition: opacity 0.4s ease-in;
        opacity: 0;
        visibility: hidden;
        outline: none;
        transition: background-color 0.3s ease-in;
        &:hover {
            background-color: $darkGrey;
        }
        &:focus {
            background-color: $fff01;
        }
        &:active {
            background-color: $global;
        }
    }
    &__icon {
        margin: auto;
        width: 30px;
        height: 30px;
        fill: #fff;
    }
    & .slick-dots {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        right: 0;
        li {
            width: 15px;
            height: 15px;
            display: flex;
            &:not(:last-child) {
                margin-right: 5px;
            }
            &.slick-active {
                button {
                    width: 15px;
                    height: 15px;
                    background-color: $gold;
                }
            }
        }
        li button {
            padding: 0;
            margin: auto;
            border: 1px solid $gold;
            cursor: pointer;
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            outline: none;
            background-color: #fff;
            transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
            &:hover {
                background-color: $gold;
            }
            &:focus {
                background-color: $global;
                border-color: $global;
            }
            &:active {
                background-color: $darkGrey;
                border-color: $darkGrey;
            }
        }
    }
    @include max($xl) {
        width: 756px;
    }
    @include max($lg) {
        height: 370px;
        width: 670px;
        margin: 0 auto 60px;
    }
    @include max($md) {
        height: 435px;
        width: 370px;
    }
    @include max($s) {
        height: 330px;
        margin: 0 auto 15px;
        width: 270px;
    }
}

.packages-destinations {
    padding-top: 40px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    &__items {
        height: 580px;
        @include bg;
        position: relative;
        @include max($lg) {
            height: 350px;
        }
        @include max($md) {
            height: 300px;
        }
    }
    &__content {
        position: absolute;
        padding: 25px 10px;
        bottom: 6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 0px 15px 30px 0px rgba(230, 230, 230, 0.3);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.7);
        max-width: 470px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include max($lg) {
            max-width: 370px;
        }
        @include max($md) {
            max-width: 315px;
            padding: 10px;
        }
        @include max($sm) {
            max-width: 270px;
        }
    }
    &__name {
        color: $darkGrey;
        font-weight: $fw700;
        font-size: 24px;
        margin-bottom: 21px;
        @include lineClamp;
        -webkit-line-clamp: 1;
        @include max($sm) {
            margin-bottom: 9px;
            font-size: 19px;
        }
    }
    &__list {
        display: flex;
        justify-content: center;
    }
    &__link {
        border-top: 1px solid $gold;
        border-left: 1px solid $gold;
        border-bottom: 1px solid $gold;
        display: flex;
        width: 40px;
        height: 40px;
        outline: transparent;
        transition: border-color 0.3s ease-in,  background-color 0.3s ease-in;
        &--border {
            border-right: 1px solid $gold;
        }
        &:hover {
            background-color: #fff;
            border-color: #fff;
        }
        &:focus {
            background-color: $global;
            border-color: $global;
            .packages-destinations__icon {
                fill: #fff;
            }
        }
        &:active {
            background-color: $gold;
            border-color: $gold;
            .packages-destinations__icon {
                fill: $global;
            }
        }
    }
    &__icon {
        width: 19px;
        height: 18px;
        fill: $gold;
        margin: auto;
        transition: fill 0.3s ease-in;
    }
    & .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }
    & .slick-prev {
        left: 100px;
        @include max($md) {
            left: 15px;
        }
    }
    & .slick-next {
        right: 100px;
        @include max($md) {
            right: 15px;
        }
    }
    &__arrow {
        width: 17px;
        height: 28px;
        fill: $gold;
        transition: fill 0.3s ease-in;
        &:hover {
            fill: #fff;
        }
        &:active {
            fill: $global;
        }
    }
    & .slick-dots {
        position: absolute;
        bottom: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
        right: 0;
        li {
            width: 15px;
            height: 15px;
            display: flex;
            &:not(:last-child) {
                margin-right: 5px;
            }
            &.slick-active {
                button {
                    width: 15px;
                    height: 15px;
                    background-color: $gold;
                }
            }
        }
        li button {
            padding: 0;
            margin: auto;
            border: 1px solid $gold;
            cursor: pointer;
            font-size: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            outline: none;
            background-color: #fff;
            transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
            &:hover {
                background-color: $gold;
            }
            &:focus {
                background-color: $global;
                border-color: $global;
            }
            &:active {
                background-color: $darkGrey;
                border-color: $darkGrey;
            }
        }
    }
    @include max($xl) {
        background-size: 95%;
    }
    @include max($md) {
        padding-top: 48px;
    }
    @include max($sm) {
        background-image: none;
    }
}
