
<section class="articles">
    <div class="container">
        <h2 class="visually-hidden">
            The main articles of our blog
        </h2>
        <ul class="articles__list">
            <li class="articles__items">
                <article class="blog-article">
                    <div class="blog-article__photo">
                        <img class="blog-article__images" src="images/blog-article-1.jpg" alt="images">
                    </div>
                    <div class="blog-article__content">
                        <div class="blog-article__author">
                            <time class="blog-article__time" datetime="29.02">29 February</time>
                            <a class="blog-article__person" href="#">by admin</a>
                        </div>
                        <h3 class="blog-article__title">
                            <a class="blog-article__title-link" href="#">
                                Here's how to get the most out of a Liverpool city!
                            </a>
                        </h3>
                        <div class="blog-article__text">
                            <p>
                                Travel is the movement of people between relatively distant geographical locations, and can involve travel by foot.
                            </p>
                        </div>
                        <ul class="blog-article__social">
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--black" href="#">
                                    <svg class="blog-article__icon blog-article__icon--black">
                                        <use xlink:href="images/sprite.svg#comment"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--gold" href="#">
                                    <svg class="blog-article__icon blog-article__icon--gold">
                                        <use xlink:href="images/sprite.svg#heart"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--green" href="#">
                                    <svg class="blog-article__icon blog-article__icon--green">
                                        <use xlink:href="images/sprite.svg#share"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </article>
            </li>
            <li class="articles__items">
                <article class="blog-article">
                    <div class="blog-article__photo">
                        <img class="blog-article__images" src="images/blog-article-1.jpg" alt="images">
                    </div>
                    <div class="blog-article__content">
                        <div class="blog-article__author">
                            <time class="blog-article__time" datetime="29.02">29 February</time>
                            <a class="blog-article__person" href="#">by admin</a>
                        </div>
                        <h3 class="blog-article__title">
                            <a class="blog-article__title-link" href="#">
                                Travelling, for me, is same as reading books.
                            </a>
                        </h3>
                        <div class="blog-article__text">
                            <p>
                                Travel is the movement of people between relatively distant geographical locations, and can involve travel by foot.
                            </p>
                        </div>
                        <ul class="blog-article__social">
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--black" href="#">
                                    <svg class="blog-article__icon blog-article__icon--black">
                                        <use xlink:href="images/sprite.svg#comment"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--gold" href="#">
                                    <svg class="blog-article__icon blog-article__icon--gold">
                                        <use xlink:href="images/sprite.svg#heart"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--green" href="#">
                                    <svg class="blog-article__icon blog-article__icon--green">
                                        <use xlink:href="images/sprite.svg#share"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>
            <li class="articles__items">
                <article class="blog-article">
                    <div class="blog-article__photo">
                        <img class="blog-article__images" src="images/blog-article-1.jpg" alt="images">
                    </div>
                    <div class="blog-article__content">
                        <div class="blog-article__author">
                            <time class="blog-article__time" datetime="29.02">29 February</time>
                            <a class="blog-article__person" href="#">by admin</a>
                        </div>
                        <h3 class="blog-article__title">
                            <a class="blog-article__title-link" href="#">
                                Why Travel is Important If you've 
                                grown up with all the comforts ?
                            </a>
                        </h3>
                        <div class="blog-article__text">
                            <p>
                                Travel is the movement of people between relatively distant geographical locations, and can involve travel by foot.
                            </p>
                        </div>
                        <ul class="blog-article__social">
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--black" href="#">
                                    <svg class="blog-article__icon blog-article__icon--black">
                                        <use xlink:href="images/sprite.svg#comment"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--gold" href="#">
                                    <svg class="blog-article__icon blog-article__icon--gold">
                                        <use xlink:href="images/sprite.svg#heart"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                            <li class="blog-article__item">
                                <a class="blog-article__link blog-article__link--green" href="#">
                                    <svg class="blog-article__icon blog-article__icon--green">
                                        <use xlink:href="images/sprite.svg#share"></use>
                                    </svg>
                                    <span class="visually-hidden">
                                        by clicking on the icon, you can find out the details of this article
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
