<section class="best-packages" style="background-image: url(images/best-packages.jpg);">
    <div class="container">
        <div class="best-packages__inner">
            <div class="best-packages__content">
                <div class="best-packages__head">
                    <span class="best-packages__number">50</span>
                    <span class="best-packages__subtitle">OFF Discount 10-30% Off</span>
                </div>
                <h2 class="best-packages__title">Best Holiday Packages</h2>
                <div class="best-packages__text">
                    <p>
                        Find your ideal holiday package whether you're travelling in Australia or around the World. Book Flights & Accommodation packages in one place with Escape Travel.
                    </p>
                </div>
                <a class="best-packages__link" href="#">read more</a>
            </div>
            <div class="best-packages__images" style="background-image: url(images/best-packages-images.jpg);">
                <span class="visually-hidden">
                    Picture of a railway in Switzerland
                </span>
            </div>
        </div>
    </div>
</section>