<section class="discount">
    <div class="container">
        <h2 class="title wow animate__backInUp" data-wow-duration="1s" data-wow-offset="20">30% Discount, stock limited</h2>
        <div class="text discount__text wow animate__backInUp" data-wow-duration="1s" data-wow-offset="20">
            <p>
                The world's largest student and youth travel agency. Find cheap flights, tours, Spring Break packages and exclusive travel deals for studentsTake full advantage of privileged discount rates.
            </p>
        </div>
        <a class="link discount__link" href="#">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#long-arrow-right"></use>
            </svg>
            Get ticket
            <span class="visually-hidden">
                when you click on the icon, you will be taken to the page where you can buy a ticket
            </span>
        </a>
        <ul id="discount-clock" class="discount-clock">
            <span class="visually-hidden">
                Before you countdown until the end of the promotion
            </span>
            <li class="discount-clock__inner discount-clock__inner--gold">
                <span class="discount-clock__number days"></span>
                <div class="smalltext">Days</div>
            </li>
            <li class="discount-clock__inner discount-clock__inner--red">
                <span class="discount-clock__number hours"></span>
                <div class="smalltext">Hours</div>
            </li>
            <li class="discount-clock__inner discount-clock__inner--green">
                <span class="discount-clock__number minutes"></span>
                <div class="smalltext">Minutes</div>
            </li>
            <li class="discount-clock__inner discount-clock__inner--black">
                <span class="discount-clock__number seconds"></span>
                <div class="smalltext">Seconds</div>
            </li>
        </ul>
        <section class="feedback" style="background-image: url(images/feedback-bg.jpg);">
            <h1 class="title feedback__title">It’s a big deal!</h1>
            <p class="feedback__subtitle">subscribe our news letter</p>
            <form class="feedback__form" action="#">
                <div class="feedback__inner">
                    <label class="visually-hidden" for="email">text field to enter your email</label>
                    <input class="feedback__input" type="email" id="email" name="email" placeholder="Enter your email" required>
                    <button class="feedback__btn" type="submit">Submit</button>
                </div>
            </form>
            <a class="feedback__popup wow animate__fadeInUpBig" data-wow-duration="1s" data-wow-offset="120" data-fancybox href="https://www.youtube.com/watch?v=KHJPv7om_tY" style="background-image: url(images/feedback-popup.jpg);">
                <span class="visually-hidden">
                    Video clip dedicated to the nature of Switzerland
                </span>
                <div class="feedback__holder">
                    <button class="feedback__play" type="button">
                        <svg class="feedback__icon">
                            <use xlink:href="images/sprite.svg#play"></use>
                        </svg>
                        <span class="visually-hidden">
                            The play icon, when clicked, will start a video clip dedicated to the nature of Switzerland
                        </span>
                    </button>
                    <span class="feedback__text">Watching video</span>
                </div>
            </a>
        </section>
    </div>
</section>