<section class="footer" id="contact" style="background-image: url(images/footer-bg.jpg);">
    <h2 class="visually-hidden">
        Site footer, with site navigation
    </h2>
    <div class="container">
        <ul class="footer__inner">
            <li class="footer__column footer__column--logo">
                <a class="footer__logo logo" href="#home">
                    <img class="logo__images" width="168" height="59" src="images/logo.png" alt="logo">
                </a> 
                <div class="footer__row">
                    <span class="footer__subtitle">Phone:</span>
                    <a class="footer__link" href="tel:+91 254 541 254">+91254541254</a>
                </div> 
                <div class="footer__row">
                    <span class="footer__subtitle">Fax :</span>
                    <a class="footer__link" href="tel:+44 161 999 8888">+441619998888</a>
                </div>
                <div class="footer__row--last">
                    <span class="footer__subtitle">Email:</span>
                    <a class="footer__link" href="mailto:dreamland@dream.com">dreamland@dream.com</a>
                </div>
                <ul class="social">
                    <li class="social__item animate__fadeInLeft wow" data-wow-duration="3s" data-wow-offset="20">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#facebook"></use>
                            </svg>
                            <span class="visually-hidden">
                                When you click on the icon, you will go to the Facebook page
                            </span>
                        </a>
                    </li>
                    <li class="social__item animate__fadeInLeft wow"  data-wow-duration="2.5s" data-wow-offset="20">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#pinterest"></use>
                            </svg>
                            <span class="visually-hidden">
                                When you click on the icon, you will go to the pinterest page
                            </span>
                        </a>
                    </li>
                    <li class="social__item animate__fadeInLeft wow"  data-wow-duration="2s" data-wow-offset="20">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#insta"></use>
                            </svg>
                            <span class="visually-hidden">
                                When you click on the icon, you will go to the Instagram page
                            </span>
                        </a>
                    </li>
                    <li class="social__item animate__fadeInLeft wow"  data-wow-duration="1.5s" data-wow-offset="20">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#twitter"></use>
                            </svg>
                            <span class="visually-hidden">
                                When you click on the icon, you will go to the Twitter page
                            </span>
                        </a>
                    </li>
                    <li class="social__item animate__fadeInLeft wow"  data-wow-duration="1s" data-wow-offset="20">
                        <a class="social__link" href="#">
                            <svg class="social__icon">
                                <use xlink:href="images/sprite.svg#vk"></use>
                            </svg>
                            <span class="visually-hidden">
                                When you click on the icon, you will go to the vk page
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="footer__column">
                <div class="footer__holder">
                    <h3 class="footer__column-title">Support</h3>
                    <svg class="footer__icon">
                        <use xlink:href="images/sprite.svg#chevron-right"></use>
                    </svg>
                </div>
                <ul class="footer__list footer__list--slide">
                    <li class="footer__item">
                        <a class="footer__link" href="#">Email Contact</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Help Center</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Live chat</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Our Community</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Services Status</a>
                    </li>
                </ul>   
            </li>
            <li class="footer__column">
                <div class="footer__holder">
                    <h3 class="footer__column-title">Location</h3>
                    <svg class="footer__icon">
                        <use xlink:href="images/sprite.svg#chevron-right"></use>
                    </svg>
                </div>
                <ul class="footer__list footer__list--slide">
                    <li class="footer__item">
                        <a class="footer__link" href="#">London</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Canada</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">America</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">India</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Australia</a>
                    </li>
                </ul>
            </li>
            <li class="footer__column">
                <div class="footer__holder">
                    <h3 class="footer__column-title">Menu</h3>
                    <svg class="footer__icon">
                        <use xlink:href="images/sprite.svg#chevron-right"></use>
                    </svg>
                </div>
                <ul class="footer__list footer__list--slide">
                    <li class="footer__item">
                        <a class="footer__link" href="#">Home</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">About</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Tours</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Packages</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">Blog</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="footer__bottom">
            <p class="footer__copy">&copy; 2018 Roy Design. All Rights Reserved </p>
            <ul class="footer__list--bottom animate__fadeInUp wow" data-wow-duration="1.5s" data-wow-offset="0">
                <li class="footer__item">
                    <a class="footer__link" href="#">About Hoststar</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Privacy Policy</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Help Center</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Terms</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Site Map</a>
                </li>
            </ul>
        </div>
    </div>
</section>