<header class="header">
    <div class="container">
        <div class="header__top">
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#facebook"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the Facebook page
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#pinterest"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the pinterest page
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#insta"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the Instagram page
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#twitter"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the Twitter page
                        </span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#vk"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the vk page
                        </span>
                    </a>
                </li>
            </ul>
            <a class="header__link-map" href="#">
                <svg class="header__icon">
                    <use xlink:href="images/sprite.svg#map"></use>
                </svg>
                <span class="visually-hidden">
                    When you click on the icon, you will go to the page with the map of our location
                </span>
                <p class="header__text">
                    1835 73rd Ave NE, Medina, Washington, USA.
                </p>
            </a>
            <ul class="header__register">
                <li class="header__item">
                    <a class="header__link" href="#">Login</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="#">Register</a>
                </li>
            </ul>
        </div>
        <div class="header__bottom">
            <a class="logo" href="#">
                <img class="logo__images" width="168" height="59" src="images/logo.png" alt="logo">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Home</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Tours</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Package</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>