<header class="header">
    <div class="container">
        <div class="header__top">
            <ul class="social">
                <li class="social__item wow animate__animated animate__fadeInLeft"  data-wow-duration="2s" data-wow-delay="1s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#facebook"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the Facebook page
                        </span>
                    </a>
                </li>
                <li class="social__item animate__animated animate__fadeInLeft wow"  data-wow-duration="2s" data-wow-delay="1.5s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#pinterest"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the pinterest page
                        </span>
                    </a>
                </li>
                <li class="social__item animate__animated animate__fadeInLeft wow"  data-wow-duration="2s" data-wow-delay="2s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#insta"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the Instagram page
                        </span>
                    </a>
                </li>
                <li class="social__item animate__animated animate__fadeInLeft wow"  data-wow-duration="2s" data-wow-delay="2.5s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#twitter"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the Twitter page
                        </span>
                    </a>
                </li>
                <li class="social__item animate__animated animate__fadeInLeft wow"  data-wow-duration="2s" data-wow-delay="3s">
                    <a class="social__link" href="#">
                        <svg class="social__icon">
                            <use xlink:href="images/sprite.svg#vk"></use>
                        </svg>
                        <span class="visually-hidden">
                            When you click on the icon, you will go to the vk page
                        </span>
                    </a>
                </li>
            </ul>
            <a class="header__link-map" href="#">
                <svg class="header__icon">
                    <use xlink:href="images/sprite.svg#map"></use>
                </svg>
                <span class="visually-hidden">
                    When you click on the icon, you will go to the page with the map of our location
                </span>
                <p class="header__text">
                    1835 73rd Ave NE, Medina, Washington, USA.
                </p>
            </a>
            <ul class="header__register">
                <li class="header__item">
                    <a class="header__link" data-fancybox href="#hidden">Login</a>
                </li>
                <li class="header__item">
                    <a class="header__link" data-fancybox href="#hidden">Register</a>
                </li>
            </ul>
        </div>
        <div class="header__bottom">
            <a class="header__logo logo" href="#home">
                <img class="logo__images" src="images/logo.png" alt="logo">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#home">Home</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#tours">Tours</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#package">Package</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#blog">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <button class="header__btn" type="button">
                <span class="header__btn-line"></span>
                <span class="header__btn-line"></span>
                <span class="header__btn-line"></span>
                <span class="visually-hidden">
                    <!-- When you click on the icon, you will go to the Instagram page -->
                </span>
            </button>
        </div>
    </div>
</header>