<section class="home-page" style="background-image: url(images/home-page-bg.jpg);">
    <div class="container">
        <div class="home-page__inner">
            <a class="home-page__phone" href="tel:+91254587485">+91 254 587 485</a>
            <h1 class="home-page__title">Book a Ticket & Just Leave!</h1>
            <div class="home-page__text">
                <p>
                    Travel is the movement of people between relatively distant geographical locations, and can involve travel by foot,bicycle, automobile, train, boat, bus.
                </p>
            </div>
            <a class="home-page__link" href="#">
                <svg class="home-page__icon">
                    <use xlink:href="images/sprite.svg#long-arrow-right"></use>
                </svg>
                Get ticket
                <span class="visually-hidden">
                    when you click on the icon, you will be taken to the page where you can buy a ticket
                </span>
            </a>
        </div>
    </div>
</section>