<section class="honeymoon">
    <div class="container">
        <h2 class="title">Destinations for Honeymoon</h2>
        <div class="text">
            <p>
                Love travel? Plan and book your perfect trip with expert advice, travel tips, destination information and inspiration from Lonely Planet
            </p>
        </div>
    </div>
    <ul class="honeymoon-slider">
        <li class="honeymoon-slider__items">
            <div class="honeymoon-slider__holder">
                <div class="honeymoon-slider__photo">
                    <img class="honeymoon-slider__images" src="images/honeymoon-slider-1.jpg" alt="Switzerland">
                    <ul class="honeymoon-slider__list">
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#camera"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="honeymoon-slider__info">
                    <h3 class="honeymoon-slider__subtitle">Switzerland</h3>
                    <span class="honeymoon-slider__price"><span>$</span>560</span>
                    <span class="honeymoon-slider__time">2 days 2 night</span>
                    <div class="honeymoon-slider__star" data-rateyo-rating="4">
                        <span class="visually-hidden">
                            in front of you is the rating of this tour
                        </span>
                    </div>
                    <p class="honeymoon-slider__text">
                        There are a few very, very fine strands of PLA
                    </p>
                    <a class="honeymoon-slider__details" href="#">More Details</a>
                </div>
            </div>
        </li>
        <li class="honeymoon-slider__items">
            <div class="honeymoon-slider__holder">
                <div class="honeymoon-slider__photo">
                    <img class="honeymoon-slider__images" src="images/honeymoon-slider-2.jpg" alt="Switzerland">
                    <ul class="honeymoon-slider__list">
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#camera"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="honeymoon-slider__info">
                    <h3 class="honeymoon-slider__subtitle">Switzerland</h3>
                    <span class="honeymoon-slider__price"><span>$</span>560</span>
                    <span class="honeymoon-slider__time">2 days 2 night</span>
                    <div class="honeymoon-slider__star" data-rateyo-rating="4">
                        <span class="visually-hidden">
                            in front of you is the rating of this tour
                        </span>
                    </div>
                    <p class="honeymoon-slider__text">
                        There are a few very, very fine strands of PLA
                    </p>
                    <a class="honeymoon-slider__details" href="#">More Details</a>
                </div>
            </div>
        </li>
        <li class="honeymoon-slider__items">
            <div class="honeymoon-slider__holder">
                <div class="honeymoon-slider__photo">
                    <img class="honeymoon-slider__images" src="images/honeymoon-slider-1.jpg" alt="Switzerland">
                    <ul class="honeymoon-slider__list">
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#camera"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="honeymoon-slider__info">
                    <h3 class="honeymoon-slider__subtitle">Switzerland</h3>
                    <span class="honeymoon-slider__price"><span>$</span>560</span>
                    <span class="honeymoon-slider__time">2 days 2 night</span>
                    <div class="honeymoon-slider__star" data-rateyo-rating="4">
                        <span class="visually-hidden">
                            in front of you is the rating of this tour
                        </span>
                    </div>
                    <p class="honeymoon-slider__text">
                        There are a few very, very fine strands of PLA
                    </p>
                    <a class="honeymoon-slider__details" href="#">More Details</a>
                </div>
            </div>
        </li>
        <li class="honeymoon-slider__items">
            <div class="honeymoon-slider__holder">
                <div class="honeymoon-slider__photo">
                    <img class="honeymoon-slider__images" src="images/honeymoon-slider-2.jpg" alt="Switzerland">
                    <ul class="honeymoon-slider__list">
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#camera"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="honeymoon-slider__info">
                    <h3 class="honeymoon-slider__subtitle">Switzerland</h3>
                    <span class="honeymoon-slider__price"><span>$</span>560</span>
                    <span class="honeymoon-slider__time">2 days 2 night</span>
                    <div class="honeymoon-slider__star" data-rateyo-rating="4">
                        <span class="visually-hidden">
                            in front of you is the rating of this tour
                        </span>
                    </div>
                    <p class="honeymoon-slider__text">
                        There are a few very, very fine strands of PLA
                    </p>
                    <a class="honeymoon-slider__details" href="#">More Details</a>
                </div>
            </div>
        </li>
        <li class="honeymoon-slider__items">
            <div class="honeymoon-slider__holder">
                <div class="honeymoon-slider__photo">
                    <img class="honeymoon-slider__images" src="images/honeymoon-slider-3.jpg" alt="Switzerland">
                    <ul class="honeymoon-slider__list">
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#heart"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#share"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                        <li class="honeymoon-slider__item">
                            <a class="honeymoon-slider__link" href="#">
                                <svg class="honeymoon-slider__icon">
                                    <use xlink:href="images/sprite.svg#camera"></use>
                                </svg>
                                <span class="visually-hidden">
                                    when you click on the icon, you will be taken to a page where you can find out in detail about this tour
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="honeymoon-slider__info">
                    <h3 class="honeymoon-slider__subtitle">Switzerland</h3>
                    <span class="honeymoon-slider__price"><span>$</span>560</span>
                    <span class="honeymoon-slider__time">2 days 2 night</span>
                    <div class="honeymoon-slider__star" data-rateyo-rating="4">
                        <span class="visually-hidden">
                            in front of you is the rating of this tour
                        </span>
                    </div>
                    <p class="honeymoon-slider__text">
                        There are a few very, very fine strands of PLA
                    </p>
                    <a class="honeymoon-slider__details" href="#">More Details</a>
                </div>
            </div>
        </li>
    </ul>
</section>        
