<section class="packages">
    <div class="container">
        <span class="packages__subtitle">Popular Tour Packages</span>
        <h2 class="packages__title">Populer place</h2>
        <ul class="place-slider">
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-1.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            <!-- When you click on the icon, you will go to the pinterest page -->
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-3.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            <!-- When you click on the icon, you will go to the pinterest page -->
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-2.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            <!-- When you click on the icon, you will go to the pinterest page -->
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-1.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            <!-- When you click on the icon, you will go to the pinterest page -->
                        </span>
                    </a>
                </div>
            </li>
            <li class="place-slider__item">
                <img class="place-slider__images" src="images/place-slider-2.jpg" alt="Photo England">
                <div class="place-slider__info">
                    <span class="place-slider__price">$670 2 days 2 night</span>
                    <span class="place-slider__place">Mancity, England</span>
                    <a class="place-slider__link" href="#">
                        <svg class="place-slider__icon">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                        <span class="visually-hidden">
                            <!-- When you click on the icon, you will go to the pinterest page -->
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>